src/main/resources/schema/definition.schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
    <xs:complexType name="Root">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="author" type="xs:string" />
            <xs:element name="ruleset" type="xs:string" />
            <xs:element name="displayname" type="xs:string" />
        </xs:sequence>
        <xs:attribute
                name="version"
                type="xs:string"/>
    </xs:complexType>
</xs:schema>